@model RepairDTO

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<div class="text-center">
    <h2>Edit Repair</h2>
</div>

<form asp-action="EditRepair">
    <table>
        <tr>
            <td>
                <label asp-for="Description" class="control-label"></label>
            </td>
            <td>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </td>
        </tr>
        <tr hidden>
            <td>
                <label asp-for="CarId" class="control-label"></label>
            </td>
            <td>
                <input asp-for="CarId" class="form-control" />
                    <span asp-validation-for="CarId" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="currCarMilleage" class="control-label"></label>
            </td>
            <td>
                <input asp-for="currCarMilleage" class="form-control" />
                <span asp-validation-for="currCarMilleage" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Status" class="control-label"></label>
            </td>
            <td>
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </td>
        </tr>
        <tr hidden>
            <td>
                <label asp-for="CarRepairShopId" class="control-label"></label>
            </td>
            <td>
                <input asp-for="CarRepairShopId" class="form-control" />
                <span asp-validation-for="CarRepairShopId" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CarRepairShopName" class="control-label"></label>
            </td>
            <td>
                <input asp-for="CarRepairShopName" class="form-control" readonly />
                <span asp-validation-for="CarRepairShopName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="DateCreated" class="control-label"></label>
            </td>
            <td>
                <input asp-for="DateCreated" class="form-control" readonly />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </td>
        </tr>
        <tr hidden>
            <td>
                <label asp-for="DateFinished" class="control-label"></label>
            </td>
            <td>
                <input asp-for="DateFinished" class="form-control" />
                <span asp-validation-for="DateFinished" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>Part</th>
            <th>Number</th>
            <th>Description</th>
        </tr>
        <tbody id="partsContainer">
            @for (var i = 0; i < Model.PartsChanged.Count; i++)
            {
                var part = Model.PartsChanged.ElementAt(i);
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        <input type="text" name="PartsChanged[@i].Number" value="@part.Number" />
                        <span asp-validation-for="PartsChanged[@i].Number" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" name="PartsChanged[@i].Description" value="@part.Description" />
                        <span asp-validation-for="PartsChanged[@i].Description" class="text-danger"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" id="addPartButton">Add Part</button>

    <input type="submit" value="Edit" />
</form>

@section Scripts {
    <script>
        $(function () {
            var index = @Model.PartsChanged.Count;

            $("#addPartButton").click(function () {
                var newRow = $("<tr></tr>");
                newRow.append('<td>' + (index + 1) + '</td>');
                newRow.append('<td><input type="text" name="PartsChanged[' + index + '].Number" /></td>');
                newRow.append('<td><input type="text" name="PartsChanged[' + index + '].Description" /></td>');
                $("#partsContainer").append(newRow);
                index++;
            });
        });
    </script>
}



