@model RegisterUserFormModel

@{
    ViewBag.Title = "User register";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        background-color: lightgray;
        border: 3px solid black;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: lightgreen;
    }

    .registerDiv{
        text-decoration-color: black;
        background-color: lightgray;
        border: 3px solid black;
    }

    #message {
        text-align: center;
        border: 3px solid black;
        background-color: rgba(144, 238, 144, 0.7);
        padding: 10px;
        margin-top: 20px;
        font-size: 50px
    }

    .messageSmall{
        font-size: 20px;
    }
</style>

<div class="text-center row col-m">
    <h3 class="mb-3">@ViewBag.Title</h3>
</div>

<div id="registerDiv" class="row col-mt-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <table>
            <tr>
                <th><label asp-for="Username"><b>Name</b></label></th>
                <td><input asp-for="Username" class="form-control" placeholder="Enter your username..."></td>
                <td><span asp-validation-for="Username" class="small text-danger"></span></td>
            </tr>
            <tr>
                <th><label asp-for="Password"><b>Password</b></label></th>
                <td><input asp-for="Password" class="form-control" type="password" placeholder="Enter you password..."></td>
                <td><span asp-validation-for="Password" class="small text-danger"></span></td>
            </tr>
            <tr>
                <th><label asp-for="Email"><b>Email</b></label></th>
                <td><input asp-for="Email" class="form-control" placeholder="Enter your email..."></td>
                <td><span asp-validation-for="Email" class="small text-danger"></span></td>
            </tr>
        </table>

        <div class="text-center">
            <input class="btn btn-primary mt-3 text-center" type="submit" value="Register" />
        </div>
    </form>
</div>

<div id="message">
    <div style="font-family: 'lobster', cursive">
        <span>&middot;</span>User benefits!<br />
    </div>
    <div class="messageSmall">
        <span>&middot;</span>Own collection with cars for better and faster look up.<br />
        <span>&middot;</span>Ability to add reviews to given repair shops.<br />
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}