@model AddRepairViewModel

<form asp-action="AddRepair" method="post">
    <input type="hidden" asp-for="CarId" />
    <label for="CarMilleage">CarMilleage:</label>
    <input asp-for="CarMilleage" />
    <span asp-validation-for="CarMilleage"></span>
    <br />
    <label for="Description">Description:</label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <input type="hidden" asp-for="CarRepairShopId" />

    <table id="partsTable">
        <thead>
            <tr>
                <th>Number</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.PartsChanged.Count; i++)
            {
                <tr>
                    <td><input asp-for="@Model.PartsChanged[i].Number" /></td>
                    <td><input asp-for="@Model.PartsChanged[i].Description" /></td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" id="addPartButton">Add Part</button>

    <input type="submit" value="Submit" />
</form>

@section Scripts {
    <script>
        $(function () {
            var tableBody = $("#partsTable tbody");
            var index = @Model.PartsChanged.Count;

            $("#addPartButton").click(function () {
                var newRow = $("<tr></tr>");
                newRow.append('<td><input name="PartsChanged[' + index + '].Number" /></td>');
                newRow.append('<td><input name="PartsChanged[' + index + '].Description" /></td>');
                tableBody.append(newRow);
                index++;
            });
        });
    </script>

    <script>
        {
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    </script>
}