@{
    ViewData["Title"] = "Home Page";
}

<style>
    body, html {
        height: 100%;
    }

    .indexBg {
        /* The image used */
        background-image: url("../images/checklistCustomerService.jpg");
        /* Full height */
        height: 100%;
        opacity: 0.7;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    form {
        font-size: large;
        width: 70%; /* make the form half of the row */
        margin: 0 auto; /* center the form horizontally */
    }

    #indexIntro {
        border: 1px solid black;
        background-color: rgba(144, 238, 144, 0.7);
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px; /* Adjust the font size as needed */
        line-height: 1.6; /* Adjust the line height for better readability */
    }

    .dot{
        font-size: 30px;
        margin: 0 10px;
    }

</style>

<div class="indexBg">
    <div class="text-center">
        <form method="get" action="@Url.Action("Search", "Home")">
            <label for="vinNumber">Search:</label>
            <input type="search" id="searchString" name="vinNumber" placeholder="Type car's' Vin Number">
            <input type="submit" value="vinNumber">
        </form>
    </div>

    <br />

    <div id="indexIntro" class="text-center" style="border: 3px solid black; background-color: rgba(144, 238, 144, 0.7); padding: 10px; margin-top: 20px;">
        <div style="font-family: 'lobster', cursive">
            <span class="dot">&middot;</span>Do you want to know the repair history of a car before you buy it?<br />
            <span class="dot">&middot;</span> Do you want to find the best repair shops near you?<br />
            <span class="dot">&middot;</span>Do you want to add value to your second-hand car by showing its maintenance record?<br />
            <span class="dot">&middot;</span>Are you tired of keeping old notes with information about past repairs?<br />
            <span class="dot">&middot;</span>Are you tired of remembering the next oil change?<br />
            <span class="dot">&middot;</span>Are you looking to buy a used car, but you need to know its history?<br />
            If you answered yes to any of these questions, then you need CarStory, the web app that stores and displays information about car repairs and car repair shops.
            With CarStory, you can search for any car by its VIN number and see its repair story, including the date, location and description of each service.
            You can also search for repair shops by their name, or city and see their reviews.
            CarStory helps you make informed decisions about buying, selling and repairing cars.
            Try it today and see the difference!<br />
            <a class="btn btn-primary" asp-controller="User" asp-action="Register">Register</a> for free or 
            <a class="btn btn-primary" asp-controller="User" asp-action="Login">login</a> to existing account!<br />
            <span class="dot">&middot;</span>Do you want to register as Repair shop?
            <span class="dot">&middot;</span>Do you want customers to have more trust in your shop
            <a class="btn btn-primary" asp-controller="User" asp-action="RegisterRepairShop">Register Shop</a> now!<br />
            
        </div>           
    </div>
</div>





