@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="get" action="@Url.Action("Search", "Home")">
        <label for="vinNumber">Search:</label>
        <input type="search" id="searchString" name="vinNumber" placeholder="Type car's' Vin Number">
        <input type="submit" value="vinNumber">
    </form>
</div>

<br />

<div class="text-center" style="border: 1px solid black; background-color: lightgreen; padding: 10px;">
    <div>
        Welcome to CarStory, the web app that helps you keep track of your car’s repairs and find the best repair shops near you. With CarStory, you can:

        Store information about your car’s repairs, such as date,parts, etc.
        Search for repair shops based on location or name.
        CarStory is easy to use, secure and reliable. Whether you need a simple oil change or a major engine overhaul, CarStory will help you find the best solution for your car’s needs. Join CarStory today and enjoy the benefits of having a smart and convenient web app for your car’s repairs.🚗
    </div>
</div>
