@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="get" action="@Url.Action("Search", "Home")">
        <label for="vinNumber">Search:</label>
        <input type="search" id="searchString" name="vinNumber" placeholder="Type car's' Vin Number">
        <input type="submit" value="vinNumber">
    </form>
</div>
